@font-face {
  font-family: "HankenGrotesk";
  src: url("assets/HankenGrotesk-variablefont_wght.ttf") format("truetype");
}

body {
  font-family: "HankenGrotesk", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ecf2ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 1.5rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 80%;
  max-width: 18rem;
}

.result-card {
  background: linear-gradient(to bottom, #6743ff, #312ceb);
  color: white;
  text-align: center;
  padding: 2rem;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-card p:first-child {
  color: lightgrey;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.7rem;
}

.result-circle {
  width: 7rem;
  height: 7rem;
  background: linear-gradient(to bottom, #4a23cc, #4734ef);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.score span {
  font-size: 3.5rem;
  font-weight: 800;
  color: white;
}
.score .light-grey {
  font-size: 1rem;
  font-weight: 200;
  color: lightgrey;
  opacity: 0.5;
}
.result-text {
  font-size: 1.3rem;
  font-weight: 700;
}

.description {
  font-size: 1rem;
  opacity: 0.8;
  margin-top: auto;
}

.summary-card {
  padding: 1rem;
}

h2 {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.summary-item {
  display: flex;
  align-items: center;
  padding: 0.3rem;
  border-radius: 0.8rem;
  margin-bottom: 0.5rem;
}

.reaction {
  background: rgba(255, 87, 87, 0.1);
  color: #ff5757;
}

.memory {
  background: rgba(255, 176, 31, 0.1);
  color: #ffb01f;
}

.verbal {
  background: rgba(0, 189, 145, 0.1);
  color: #00bd91;
}

.visual {
  background: rgba(17, 37, 212, 0.1);
  color: #1125d4;
}

.summary-item img {
  margin-right: 0.5rem;
}

.summary-text {
  flex-grow: 1;
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: 500;
}

.score-value {
  font-weight: 500;
  color: black;
  margin-left: 4.3rem;
}

.verbal .score-value {
  margin-left: 5.4rem;
}

.visual .score-value {
  margin-left: 5.4rem;
}
.light-grey {
  color: grey;
  font-weight: 400;
}

.btn {
  width: 100%;
  padding: 0.8rem;
  background: #303b5a;
  color: white;
  font-size: 0.9rem;
  border: none;
  border-radius: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
  cursor: pointer;
  transition: background 0.3s;
}

.btn:hover {
  background: #242f4d;
}

@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
    max-width: 38rem;
    max-height: 24rem;
    align-items: stretch;
  }

  .result-card {
    flex: 1;
    border-radius: 1.5rem;
    padding: 1rem 2.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-height: 100%;
  }

  .result-circle {
    width: 9rem;
    height: 9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .result-card p:first-child {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    margin-top: 0.6rem;
  }

  .score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .score span {
    font-size: 4rem;
    margin-top: 2rem;
    margin-bottom: 0;
    color: white;
    font-weight: bold;
    line-height: 1;
  }

  .score .light-grey {
    font-size: 1rem;
    opacity: 0.6;
    margin-top: -0.7rem;
    display: block;
    text-align: center;
  }

  .result-text {
    font-size: 1.7rem;
    margin-top: 2rem;
    margin-bottom: 0.2rem;
  }

  .description {
    margin-top: 1rem;
    margin-bottom: 1.2rem;
    font-size: 1rem;
    font-weight: 300;
  }

  .summary-card {
    flex: 1;
    padding: 1rem;
    max-height: 100%;
  }

  .summary-item {
    padding: 0.2rem 1rem;
    min-height: 1.6rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .score {
    font-weight: bold;
    display: flex;
    gap: 0.1rem;
  }

  .btn {
    margin-bottom: 1.5rem;
  }
}
